/*-----------BASE CODE---------
------------------------------*/
* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato", "Arial", "Sans-serif";
  font: rgb(51, 51, 51);
  background-color: rgb(246, 243, 243);
  text-rendering: optimizeLegibility; /* To render the fonts in perfect way */
}

/*-----------REUSABLE COMPONENT-----to position the row box middle over the page----------------------------------------------
-----------------------------------------------------------------------------------------------------------------------*/
.row {
  margin: 0 auto;
  max-width: 1140px;
}
.box {
  padding: 1%;
}
/*-----------HEADINGS--------------------
----------------------------------------*/
h1,
h2,
h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
h1 {
  font-size: 200%; /*200% of base html*/
  word-spacing: 4px;
}
h2 {
  font-size: 140%;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 100;
  word-spacing: 4px;
}
h3 {
  font-size: 100%;
  font-weight: 80;
}

/*-----------HEADER---------------------------------------HEADER----------------------------------------------------------
------------------------------------------------------------------------------------------------------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(0, 0, 0, 0.844)),
    url(background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh; /*this vh unit will increase the height and cover the full header section*/
}

.hero-text-box {
  position: absolute;
  max-width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*will fix the middle position on page*/
  color: whitesmoke;
  font-weight: 300;
}
/*-----------BUTTONS----------------------
----------------------------------------*/
.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px;
  padding: 10px 30px;
  text-decoration: none;
  font-weight: 300px;

  color: white;
  border: 1px solid #e67e22;
  border-radius: 200px;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
}
.btn-ghost:link,
.btn-ghost:visited {
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background-color: #ffaf58;
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid #ffaf58;
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #ffaf58;
  color: white;
}
/*-----------logo------------------need to change--------------
---------------------------*/
.logo {
  height: 100px;
  width: auto;
  margin-top: 20px;
  float: left;
}
/*=====================ICON=====================================*/
ion-icon {
  font-size: 250%;
  color: #e67e22;
}

/*===================================NAV BAR===========================*/
.main-nav {
  float: right;
  margin-top: 50px;
}
.main-nav ul {
  list-style: none; /*remove the bullets*/
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color: white;
  font-size: 90%; /* HTML base is 20px for 18px,we need to add % 18/20=90%*/
  text-transform: uppercase;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: border-buttom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/*===============================Section1==================================*/
section {
  padding: 50px 0;
  letter-spacing: 100;
}
.long-copy {
  text-align: center;
  padding: 0 100px;
  line-height: 135%;
  /* width: 90%;
  margin-left: 15%;*/
}
.box p {
  line-height: 145%;
  font-size: 90%;
}
/*===================================MEALS SECTION===========================*/
.section-meals {
  padding: 0;
  
};
}
.meals-showcase {
  list-style: none;
  width: 100%;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
  }
.meal-photo {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;/*will give a black shaddow over the opac image*/
}
.meal-photo img {
  opacity: 0.7; /*lower the opacity faded the img color*/
  width: 100%;
  transform: scale(1.25);
  transition: transform 0.5s; /*transformation will take 5secs to zoomout from the default zoomin img*/
}
/*-------zoomout images with relatively smaller size--(103%)---*/
.meal-photo img:hover {
  transform: scale(1.03);
}
